<!--
  ~ Copyright (C) 2007-2019 Crafter Software Corporation. All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <!-- in the absence of the class attribute, it is assumed that the
             desired discriminator type is
             ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
        <discriminator>
            <key>targetId</key>
            <defaultValue>deployer-general</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${targetId}" class="ch.qos.logback.core.FileAppender">
                <file>${LOG_PATH}/${targetId}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>${FILE_LOG_PATTERN}</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.craftercms" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SIFT" />
    </root>

</configuration>